// Colors
$black: #191919;
$dark-blue: #027A93;
$gold: #FED701;
$gray: #6B6B6B;
$light-blue: #85DBF2;
$white: #FEFEFE;

// Breakpoints
$breakpoint-mobile: 480px;
$breakpoint-tablet: 769px;
$breakpoint-desktop: 1024px;

// Images;
$background-image: 'https://wallpaperaccess.com/full/2027049.jpg';
